:root {
  --fondo: #000000;
  --principal: #7979f9;
  --azul_claro: #8fa1ff;
  --blanco: #ffffff;
}

html,
body {
  background-color: var(--fondo);
}
.container {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, var(--principal), white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; /*Evita el desbordamiento del contenido*/
  border-radius: 10px;
  padding: 20px;
}
.container h1 {
  color: var(--azul_brillante);
  font-family: Arial, Helvetica, sans-serif;
}
.container h3 {
  margin-top: 0px;
  color: var(--azul_brillante);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  width: 60%;
}
.submit_button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, var(--principal), white);
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.email {
  border-radius: 5px;
  width: 250px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.number {
  border-radius: 5px;
  width: 250px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.parrafo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  width: 50%;
}
.container_2 {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, var(--azul_claro), white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; /*Evita el desbordamiento del contenido*/
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
}
.container_2 p {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
.message {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
